@import 'typography';

:root {
  --width: 100%;
  --height: 100vh;
  --b-radius: 5px;  
  --primary-color: #5DE31B;
  --secondary-color: #03134A;
  --text-color-w: #fff;
  --bg-color: #f2f2f2;
  --pd-container: 0 1rem;
  --mg-text: .5em 0;
}

$font-size-doc: 16;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  font-size: $font-size-doc * 1px;
  padding: .5px;
}

@function fromPxToEm($px, $fsBase) {
  @return calc($px / $fsBase) * 1em;
}

section {
  width: var(--width);
  min-height: var(--height);
}

hr {
  align-self: stretch;
  color: var(--text-color-w);
  margin: 0 2em;
}

figcaption {
  font-size: fromPxToEm(8, $font-size-doc);
}

.start {
  position: relative;

  background-image: linear-gradient(90deg,  rgba(94, 227, 27, 0.5), rgba(0,0,0, .5)),
    url(../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-size: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--pd-container);

  .start__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
    padding: 0 1em;
  }
  
  .start__text {
    color: var(--text-color-w);
    margin: var(--mg-text);
  }

  .start__wave {
    position: absolute;
    width: var(--width);
    bottom: -1em;
    right: 0;
  }
}

.about {
  background-color: var(--secondary-color);
  text-align: center;

  padding: var(--pd-container);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  .about__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
  }

  .about__photo {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 8px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 2em 0;
  }
  
  .img {
    width: var(--width);
  }

  .about__description {
    color: var(--text-color-w);
  }

  .about_wave {
    position: absolute;
    width: var(--width);
    bottom: -1em;
    right: 0;
  }
}

.tools {

  text-align: center;

  position: relative;

  margin-bottom: 8rem;

  .tools__title {
    margin: var(--mg-text);
    color: var(--secondary-color);    
    margin-top: 1em;
  }

  .tools_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .template__title {
      margin: $font-size-doc * 1px 0;
      font-size: fromPxToEm(12, $font-size-doc);
      font-weight: 700;
    }

    .skill__container {

      display: flex;
      gap: fromPxToEm(12, $font-size-doc);
      align-items: center;
      justify-content: space-between;

      .figure {

        width: fromPxToEm(53, $font-size-doc);
        transition: .3s;

        .img {
          width: var(--width);
        }

        &:hover {
          width: fromPxToEm(72, $font-size-doc)
        }
      }

    }


  }

  .tools_wave {
    width: var(--width);
    position: absolute;
    bottom: -8.5em;
    right: 0;
  }
}

.projects {
  padding-top: 1em;
  background-color: var(--secondary-color);
  text-align: center;

  .projects__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
    font-size: $font-size-doc * 1px;
  }


  .projects__container {

    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    .projects__item {
      background-color: #d3d3d3;
      width: fromPxToEm(208, $font-size-doc);
      height: fromPxToEm(124, $font-size-doc);
      border-radius: var(--b-radius);
    }
    
  }

}

button {
  background-color: var(--primary-color);
  color: var(--text-color-w);
  border-radius: var(--b-radius);
  padding: fromPxToEm(9, $font-size-doc) fromPxToEm(70, $font-size-doc);
  border: none;
  transition: .3s;

  &:hover {
    background-color: rgb(174, 238, 142);
  }
}

.contact {
  text-align: center;
  padding-top: 6em;
  position: relative;
  min-height: 90vh;

  .contact__wave {
    position: absolute;
    width: 100%;
    top: -1em;
    left: 0;
  }

  .contact__title {
    margin: var(--mg-text);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: calc(var(--height) - 54vh);
    background-color: var(--secondary-color);
    color: var(--text-color-w);
    padding: 1em;
    margin: 1em;
    border-radius: var(--b-radius);
  }

  .form__item {
    display: flex;
    flex-direction: column;

    label {
      align-self: flex-start;
      margin-bottom: .5em;
    }

    input, textarea {
      outline: none;
      border-radius: var(--b-radius);
      height: fromPxToEm(29, $font-size-doc);
      font-family: inherit;
      padding: 1em;     
      transition: .3s;

      &:focus {
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 8px 6px #bde7a8;
      }

      &::placeholder {
        color: #b2b2b2;
      }
    }
  
    textarea {
      max-width: var(--width);
      min-width: var(--width);
      max-height: fromPxToEm(70, $font-size-doc);
      min-height: fromPxToEm(70, $font-size-doc);
    }

  }  

  .form__item--button {
    align-self: center;
  }

}

.networks {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;

  .networks__img {

    width: fromPxToEm(53, $font-size-doc);
    height: fromPxToEm(53, $font-size-doc);

    cursor: pointer;

    .img {
      width: 100%;
      transition: .3s;
    }

    .networks__img--linkedin {
      width: fromPxToEm(60, $font-size-doc);
      padding-bottom: .5em;        
      
      &:hover{
        width: fromPxToEm(72, $font-size-doc);
        filter: drop-shadow(2px 2px 4px #0a66c2);

      }
    }

    .networks__img--wsp {
      
      &:hover{
        width: fromPxToEm(72, $font-size-doc);
        filter: drop-shadow(2px 2px 4px #25d366);
      }
    }

  }

}

.footer {
  text-align: center;
  font-size: fromPxToEm(8, $font-size-doc);
  
  padding: 4em 0;

  .footer__txt {
    padding: 1em;
  }
}