@import 'typography';

:root {
  --width: 100%;
  --height: 100vh;
  --b-radius: 5%;  
  --primary-color: #5DE31B;
  --secondary-color: #03134A;
  --text-color-w: #fff;
  --bg-color: #f2f2f2;
  --pd-container: 0 1rem;
  --mg-text: .5em 0;
}

$font-size-doc: 16;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  font-size: $font-size-doc * 1px;
  padding: .5px;
}

@function fromPxToEm($px, $fsBase) {
  @return ($px / $fsBase) * 1em;
}

section {
  width: var(--width);
  min-height: var(--height);
}

hr {
  align-self: stretch;
  color: var(--text-color-w);
}

figcaption {
  font-size: fromPxToEm(8, $font-size-doc);
}

.start {
  position: relative;

  background-image: linear-gradient(90deg,  rgba(94, 227, 27, 0.5), rgba(0,0,0, .5)),
    url(../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-size: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--pd-container);

  .start__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
    padding: 0 1em;
  }
  
  .start__text {
    color: var(--text-color-w);
    margin: var(--mg-text);
  }

  .start__wave {
    position: absolute;
    width: var(--width);
    bottom: -1em;
    right: 0;
  }
}

.about {
  background-color: var(--secondary-color);
  text-align: center;

  padding: var(--pd-container);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  .about__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
  }

  .about__photo {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 8px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 2em 0;
  }
  
  .img {
    width: var(--width);
  }

  .about__description {
    color: var(--text-color-w);
  }

  .about_wave {
    position: absolute;
    width: var(--width);
    bottom: -1em;
    right: 0;
  }
}

.tools {

  text-align: center;

  position: relative;

  margin-bottom: 8rem;

  .tools__title {
    margin: var(--mg-text);
    color: var(--secondary-color);    
    margin-top: 1em;
  }

  .tools_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .template__title {
      margin: $font-size-doc * 1px 0;
      font-size: fromPxToEm(12, $font-size-doc);
      font-weight: 700;
    }

    .skill__container {

      display: flex;
      gap: fromPxToEm(12, $font-size-doc);
      align-items: center;
      justify-content: space-between;

      .figure {

        width: fromPxToEm(53, $font-size-doc);
        transition: .3s;

        .img {
          width: var(--width);
        }

        &:hover {
          width: fromPxToEm(72, $font-size-doc)
        }
      }

    }


  }

  .tools_wave {
    width: var(--width);
    position: absolute;
    bottom: -8.5em;
    right: 0;
  }
}

.projects {
  background-color: var(--secondary-color);
  text-align: center;

  .projects__title {
    color: var(--text-color-w);
    margin: var(--mg-text);
  }
}
